html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  

.body {
    background-color: wheat;
    font-family: Arial, "Times New Roman", sans-serif;
}

.webname {
    color: brown;
    width: 205px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
}

a {
    color: black;
    font-weight: 700;
    line-height: 2;
}

h2 {
    text-align: left;
}

.recipes-links {
    list-style-type: none;
    position:relative; top:50px; left:-10px;
}

.pic {
    width: 350px ;
    height: auto;
}