html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  

.body {
    background-color: wheat;
    font-family: Arial, "Times New Roman", sans-serif;
}


.webname {
    color: crimson;
    width: 205px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
}

a {
    color: black;
    font-weight: 700;
    line-height: 2;
}

h2 {
    text-align: left;
}

.iul {
    list-style-type: none;
}

.recipe {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 1px;
    color:indianred;
}

.pic {
    width: 350px ;
    height: auto;
}